<div class="smart-textarea-container" [ngClass]="effectiveCustomClass()" [style.width]="effectiveWidth()"
  [style.height]="effectiveHeight()">
  <ejs-smarttextarea #smartTextarea [placeholder]="effectivePlaceholder()" [floatLabelType]="effectiveFloatLabelType()"
    [rows]="effectiveRows()" [cols]="effectiveCols()" [value]="effectiveValue()" [enabled]="effectiveEnabled()"
    [readonly]="effectiveReadonly()" [resizeMode]="effectiveResizeMode()" [userRole]="effectiveUserRole()"
    [UserPhrases]="effectiveUserPhrases()" [aiSuggestionHandler]="effectiveAiSuggestionHandler()"
    (change)="onChange($event)" (focus)="onFocus($event)" (blur)="onBlur($event)" (created)="onCreated($event)">
  </ejs-smarttextarea>
</div>