<app-page-header 
  [title]="'company.t4.titleFull' | translate" 
  [showBreadcrumbs]="true"
  [actions]="headerActions">
</app-page-header>

<div class="-mx-4 md:-mx-6 lg:-mx-8 px-4 md:px-6 lg:px-8 transition-colors duration-300">
  @if (service.loading()) {
    <app-skeleton-loader type="table" [rows]="10" [columns]="columns.length || 5"></app-skeleton-loader>
  } @else {
    <app-data-grid
      [dataSource]="(data$ | async) || []"
      [columns]="columns"
      (rowSelected)="onEdit($event)">
    </app-data-grid>
  }
</div>

<app-t4-form
  [isOpen]="showModal"
  [data]="selectedItem"
  (close)="showModal = false"
  (save)="onSaveSuccess()">
</app-t4-form>
