<div class="pivot-table-container" [ngClass]="customClass()">
  <ejs-pivotview #pivotview [dataSourceSettings]="dataSourceOptions" [width]="width()" [height]="height()"
    [showToolbar]="showToolbar()" [showGroupingBar]="showGroupingBar()" [showFieldList]="showFieldList()"
    [allowCalculatedField]="allowCalculatedField()" [allowConditionalFormatting]="allowConditionalFormatting()"
    [allowDrillThrough]="allowDrillThrough()" [enableVirtualization]="enableVirtualization()"
    [gridSettings]="gridSettings()">
  </ejs-pivotview>
</div>