<div class="pivot-table-container w-full glass-weak dark:glass-dark-weak theme-myhr:glass-myhr-weak rounded-xl p-4 overflow-hidden" [ngClass]="customClass">
  <ejs-pivotview
    #pivotview
    [dataSourceSettings]="dataSourceOptions"
    [width]="width"
    [height]="height"
    [showToolbar]="showToolbar"
    [showGroupingBar]="showGroupingBar"
    [showFieldList]="showFieldList"
    [allowCalculatedField]="allowCalculatedField"
    [allowConditionalFormatting]="allowConditionalFormatting"
    [allowDrillThrough]="allowDrillThrough"
    [enableVirtualization]="enableVirtualization"
    [gridSettings]="gridSettings">
  </ejs-pivotview>
</div>

