<div class="document-editor-container" [ngClass]="customClass()">
  <ejs-documenteditor #documentEditor [width]="width()" [height]="height()" [enableSpellCheck]="enableSpellCheck()"
    [enableSelection]="enableSelection()" [enableEditor]="enableEditor()" [enableEditorHistory]="enableEditorHistory()"
    [enableContextMenu]="enableContextMenu()" [enableHyperlinkDialog]="enableHyperlinkDialog()"
    [enableImageResizer]="enableImageResizer()" [enableTableDialog]="enableTableDialog()"
    [enableBookmarkDialog]="enableBookmarkDialog()" [enableTableOfContentsDialog]="enableTableOfContentsDialog()"
    [enablePageSetupDialog]="enablePageSetupDialog()" [enableStyleDialog]="enableStyleDialog()"
    [enableListDialog]="enableListDialog()" [enableParagraphDialog]="enableParagraphDialog()"
    [enableFontDialog]="enableFontDialog()" [enableTablePropertiesDialog]="enableTablePropertiesDialog()"
    [enableBordersAndShadingDialog]="enableBordersAndShadingDialog()"
    [enableTableOptionsDialog]="enableTableOptionsDialog()" [enableTrackChanges]="enableTrackChanges()"
    [enableFormField]="enableFormField()" [enableOptionsPane]="enableOptionsPane()" [showComments]="showComments()"
    [showRevisions]="showRevisions()" [zoomFactor]="zoomFactor()" [isReadOnly]="isReadOnly()"
    [enablePrint]="enablePrint()" [enableWordExport]="enableWordExport()" [enableSfdtExport]="enableSfdtExport()"
    [enableTextExport]="enableTextExport()" [enableSearch]="enableSearch()" (created)="created.emit($event)"
    (documentChange)="documentChange.emit($event)" (selectionChange)="selectionChange.emit($event)"
    (contentChange)="contentChange.emit($event)" (zoomFactorChange)="zoomFactorChange.emit($event)"
    (requestNavigate)="requestNavigate.emit($event)" (beforePaneSwitch)="beforePaneSwitch.emit($event)"
    (paneSwitch)="paneSwitch.emit($event)" (beforeServiceFailure)="beforeServiceFailure.emit($event)"
    (serviceFailure)="serviceFailure.emit($event)"
    (customContextMenuBeforeOpen)="customContextMenuBeforeOpen.emit($event)"
    (customContextMenuOpen)="customContextMenuOpen.emit($event)"
    (beforeRestrictEditing)="beforeRestrictEditing.emit($event)" (restrictEditing)="restrictEditing.emit($event)"
    (documentEditorSettingsChange)="documentEditorSettingsChange.emit($event)">
  </ejs-documenteditor>
</div>