<div class="query-builder-container w-full glass-weak dark:glass-dark-weak theme-gemini:glass-gemini-weak rounded-xl p-4 overflow-hidden" [ngClass]="customClass">
  <ejs-querybuilder
    #querybuilder
    [dataSource]="dataSource"
    [columns]="columns"
    [rule]="rule"
    [width]="width"
    [height]="height"
    [allowValidation]="allowValidation"
    [enableNotCondition]="enableNotCondition"
    [maxGroupCount]="maxGroupCount"
    [separator]="separator"
    [displayMode]="displayMode"
    [showButtons]="showButtons"
    (created)="onCreated($event)"
    (beforeChange)="onBeforeChange($event)"
    (change)="onChange($event)"
    (ruleChange)="onRuleChange($event)"
    (beforeRuleAdd)="onBeforeRuleAdd($event)"
    (ruleAdd)="onRuleAdd($event)"
    (beforeRuleDelete)="onBeforeRuleDelete($event)"
    (ruleDelete)="onRuleDelete($event)"
    (beforeGroupAdd)="onBeforeGroupAdd($event)"
    (groupAdd)="onGroupAdd($event)"
    (beforeGroupDelete)="onBeforeGroupDelete($event)"
    (groupDelete)="onGroupDelete($event)">
  </ejs-querybuilder>
</div>

