<div class="portal-layout min-h-screen flex flex-col">
  <!-- Animated Background Graphics -->
  <div class="layout-graphics">
    <div class="graphic-circle graphic-circle-1"></div>
    <div class="graphic-circle graphic-circle-2"></div>
    <div class="graphic-line graphic-line-1"></div>
    <div class="graphic-line graphic-line-2"></div>
  </div>

  <app-header />

  <div class="flex flex-1 relative z-10">
    <app-sidebar [menuItems]="menuItems" />

    <!-- Content Area: p-6 (24px) หรือ p-8 (32px) ตาม Design System -->
    <main class="flex-1 p-6 lg:p-8 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
