<app-glass-card 
  padding="p-6" 
  [variant]="variant === 'gradient' ? 'none' : 'default'"
  [customClass]="cardCustomClass">
  <div class="flex items-center">
    <div [ngClass]="iconContainerClass">
      <app-icon [name]="icon" size="lg" [color]="iconColorClass"></app-icon>
    </div>
    <div class="ml-4 flex-1">
      <p [ngClass]="labelClass">
        {{ label }}
      </p>
      <p [ngClass]="valueClass">
        {{ value }}{{ suffix }}
      </p>
      <p *ngIf="change" class="text-xs mt-1" [ngClass]="changeClass">
        {{ change > 0 ? '+' : '' }}{{ change }}%
      </p>
    </div>
  </div>
</app-glass-card>


