<div class="chart-container w-full glass-weak dark:glass-dark-weak theme-myhr:glass-myhr-weak rounded-xl p-4 overflow-hidden" [ngClass]="customClass">
  <ejs-chart
    #chart
    [dataSource]="dataSource"
    [series]="series"
    [primaryXAxis]="primaryXAxis"
    [primaryYAxis]="primaryYAxis"
    [title]="title"
    [titleStyle]="titleStyle"
    [legendSettings]="legendSettings"
    [tooltip]="tooltip"
    [chartArea]="chartArea"
    [margin]="margin"
    [height]="height"
    [width]="width"
    [theme]="theme"
    [enableAnimation]="enableAnimation"
    [enableRtl]="enableRtl"
    (loaded)="onLoaded($event)"
    (pointClick)="onPointClick($event)"
    (pointMove)="onPointMove($event)"
    (animationComplete)="onAnimationComplete($event)"
    (textRender)="onTextRender($event)"
    (axisLabelRender)="onAxisLabelRender($event)"
    (tooltipRender)="onTooltipRender($event)"
    (legendRender)="onLegendRender($event)">
  </ejs-chart>
</div>

