<div class="employee-pnd91-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>PND91</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-section">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select [(ngModel)]="yearSelected">
            <mat-option *ngFor="let year of yearList" [value]="year.value">
              {{ year.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="loadPDF()" [disabled]="isLoading">
          <mat-spinner *ngIf="isLoading" diameter="20" class="inline-spinner"></mat-spinner>
          <span *ngIf="!isLoading">Load PDF</span>
        </button>
      </div>

      <div *ngIf="pdfSrc" class="pdf-info">
        <p>PDF loaded successfully. If it didn't open automatically, <a [href]="pdfSrc" target="_blank">click here</a>.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>


