<app-page-header 
  [title]="'company.costCenter.titleFull' | translate" 
  [showBreadcrumbs]="true"
  [actions]="headerActions">
</app-page-header>

<div class="p-6 min-h-screen transition-colors duration-300">
  <app-data-grid
    [dataSource]="(data$ | async) || []"
    [columns]="columns"
    (rowSelected)="onEdit($event)">
  </app-data-grid>
</div>

<app-cost-center-form
  [isOpen]="showModal"
  [data]="selectedItem"
  (close)="showModal = false"
  (save)="onSaveSuccess()">
</app-cost-center-form>

