<div class="relative inline-block">
  <div [attr.aria-describedby]="ariaDescribedBy || (isVisible && text ? tooltipId : null)">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="isVisible && text"
    [id]="tooltipId"
    role="tooltip"
    [class]="tooltipClasses"
    class="absolute z-50 px-3 py-2 text-sm text-white rounded-lg shadow-lg pointer-events-none transition-opacity"
    [style.top.px]="position === 'bottom' ? 100 : position === 'top' ? -100 : 0"
    [style.left.px]="0"
    [style.margin-top.px]="position === 'bottom' ? 8 : position === 'top' ? -8 : 0">
    {{ text }}
    <div
      *ngIf="position === 'bottom'"
      class="absolute -top-1 left-4 w-2 h-2 bg-slate-800 dark:bg-slate-700 rotate-45">
    </div>
    <div
      *ngIf="position === 'top'"
      class="absolute -bottom-1 left-4 w-2 h-2 bg-slate-800 dark:bg-slate-700 rotate-45">
    </div>
  </div>
</div>


