<div class="spreadsheet-container" [ngClass]="customClass()">
  <ejs-spreadsheet #spreadsheet [sheets]="sheets()" [allowOpen]="allowOpen()" [allowSave]="allowSave()"
    [allowEditing]="allowEditing()" [allowInsert]="allowInsert()" [allowDelete]="allowDelete()"
    [allowUndoRedo]="allowUndoRedo()" [allowFindAndReplace]="allowFindAndReplace()" [allowSorting]="allowSorting()"
    [allowFiltering]="allowFiltering()" [allowResizing]="allowResizing()" [allowHyperlink]="allowHyperlink()"
    [allowChart]="allowChart()" [allowImage]="allowImage()" [allowConditionalFormat]="allowConditionalFormat()"
    [allowDataValidation]="allowDataValidation()" [showSheetTabs]="showSheetTabs()" [showRibbon]="showRibbon()"
    [showFormulaBar]="showFormulaBar()" [height]="height()" [width]="width()" (created)="created.emit($event)"
    (cellEdit)="cellEdit.emit($event)" (cellSave)="cellSave.emit($event)" (beforeOpen)="beforeOpen.emit($event)"
    (openComplete)="openComplete.emit($event)" (beforeSave)="beforeSave.emit($event)"
    (saveComplete)="saveComplete.emit($event)" (actionBegin)="actionBegin.emit($event)"
    (actionComplete)="actionComplete.emit($event)">
  </ejs-spreadsheet>
</div>