<div class="diagrams-container" [ngClass]="customClass()">
  <ejs-diagram #diagram [nodes]="nodes()" [connectors]="connectors()" [pageSettings]="pageSettings()"
    [snapSettings]="snapSettings()" [rulerSettings]="rulerSettings()" [layout]="layout()"
    [dataSourceSettings]="dataSourceSettings()" [selectedItems]="selectedItems()" [constraints]="constraints()"
    [tool]="tool()" [drawingObject]="drawingObject()" [height]="height()" [width]="width()"
    (created)="created.emit($event)" (nodeClick)="nodeClick.emit($event)" (connectorClick)="connectorClick.emit($event)"
    (selectionChange)="selectionChange.emit($event)" (scrollChange)="scrollChange.emit($event)"
    (zoomChange)="zoomChange.emit($event)" (historyChange)="historyChange.emit($event)"
    (objectDoubleClick)="objectDoubleClick.emit($event)" (textEdit)="textEdit.emit($event)"
    (dragEnter)="dragEnter.emit($event)" (dragLeave)="dragLeave.emit($event)" (dragOver)="dragOver.emit($event)"
    (drop)="drop.emit($event)">
  </ejs-diagram>
</div>