<div class="image-editor-container w-full glass-weak dark:glass-dark-weak theme-gemini:glass-gemini-weak rounded-xl p-4 overflow-hidden" [ngClass]="customClass">
  <ejs-imageeditor
    #imageEditor
    [width]="width"
    [height]="height"
    [toolbar]="toolbar"
    [allowUndoRedo]="allowUndoRedo"
    (created)="onCreated($event)"
    (fileOpened)="onImageLoaded($event)"
    (toolbarItemClicked)="onToolbarItemClicked($event)"
    (selectionChanging)="onSelectionChanged($event)"
    (shapeChange)="onShapeChanged($event)"
    (editComplete)="onImageChanged($event)">
  </ejs-imageeditor>
</div>

