<app-modal
  [isOpen]="isOpen"
  [title]="isEditMode ? 'แก้ไขประเภทบริษัท' : 'เพิ่มประเภทบริษัท'"
  (closeModal)="onClose()"
  (confirm)="onSubmit()">
  
  <form [formGroup]="form" class="space-y-4 p-2">
    <!-- Code (PK) - Disable on Edit -->
    <app-glass-input
      label="รหัสประเภทบริษัท (Code)"
      formControlName="codeid"
      [required]="true"
      [readonly]="isEditMode"
      errorMessage="กรุณาระบุรหัส 3 หลัก"
      maxLength="3">
    </app-glass-input>

    <!-- Thai Description -->
    <app-glass-input
      label="รายละเอียด (ไทย)"
      formControlName="tdesc"
      [required]="true"
      errorMessage="กรุณาระบุรายละเอียดภาษาไทย">
    </app-glass-input>

    <!-- English Description -->
    <app-glass-input
      label="รายละเอียด (อังกฤษ)"
      formControlName="edesc">
    </app-glass-input>
  </form>

</app-modal>
