.table-container {
  width: 100%;
  overflow: auto;
}

.table-header {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.data-table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: #f5f5f5;
}

