<app-modal
  [show]="isOpen"
  [title]="(isEditMode ? 'company.companyGroup.edit' : 'company.companyGroup.add') | translate"
  (closeEvent)="onClose()"
  (confirmEvent)="onSubmit()">
  
  <form [formGroup]="form" class="space-y-4 p-2">
    <!-- Code (PK) -->
    <app-glass-input
      [label]="'company.companyGroup.codeId' | translate"
      formControlName="codeid"
      [required]="true"
      [readonly]="isEditMode"
      [errorMessage]="'company.companyGroup.codeIdRequired' | translate"
      maxLength="3">
    </app-glass-input>

    <!-- Thai Description -->
    <app-glass-input
      [label]="'company.companyGroup.tdesc' | translate"
      formControlName="tdesc"
      [required]="true"
      [errorMessage]="'company.companyGroup.tdescRequired' | translate">
    </app-glass-input>

    <!-- English Description -->
    <app-glass-input
      [label]="'company.companyGroup.edesc' | translate"
      formControlName="edesc">
    </app-glass-input>
  </form>

</app-modal>


