<app-modal
  [show]="isOpen"
  [title]="(isEditMode ? 'company.workareaLocation.edit' : 'company.workareaLocation.add') | translate"
  (closeEvent)="onClose()"
  (confirmEvent)="onSubmit()">
  
  <form [formGroup]="form" class="space-y-4 p-2">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <app-glass-input
        [label]="'company.workareaLocation.workAreaId' | translate"
        formControlName="workareaid"
        [required]="true"
        [readonly]="isEditMode"
        [errorMessage]="'company.workareaLocation.workAreaIdRequired' | translate"
        maxLength="10">
      </app-glass-input>

      <app-glass-input
        [label]="'company.workareaLocation.lineNo' | translate"
        formControlName="line_no"
        type="number"
        [required]="true"
        [readonly]="isEditMode"
        [errorMessage]="'company.workareaLocation.lineNoRequired' | translate">
      </app-glass-input>

      <app-glass-input
        [label]="'company.workareaLocation.companyId' | translate"
        formControlName="companyid"
        [required]="true"
        [readonly]="true">
      </app-glass-input>
    </div>

    <app-glass-input
      [label]="'company.workareaLocation.tdesc' | translate"
      formControlName="tdesc"
      [required]="true"
      [errorMessage]="'company.workareaLocation.tdescRequired' | translate"
      maxLength="100">
    </app-glass-input>

    <app-glass-input
      [label]="'company.workareaLocation.edesc' | translate"
      formControlName="edesc"
      [required]="true"
      [errorMessage]="'company.workareaLocation.edescRequired' | translate"
      maxLength="100">
    </app-glass-input>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <app-glass-input
        [label]="'company.workareaLocation.latitude' | translate"
        formControlName="latitude"
        maxLength="20">
      </app-glass-input>

      <app-glass-input
        [label]="'company.workareaLocation.longitude' | translate"
        formControlName="longitude"
        maxLength="20">
      </app-glass-input>

      <app-glass-input
        [label]="'company.workareaLocation.radius' | translate"
        formControlName="radius"
        type="number"
        [errorMessage]="'company.workareaLocation.radiusInvalid' | translate">
      </app-glass-input>
    </div>
  </form>

</app-modal>

