<div class="tree-grid-container" [ngClass]="customClass()">
  <ejs-treegrid #treegrid [dataSource]="dataSource()" [columns]="columns()" [childMapping]="childMapping()"
    [hasChildMapping]="hasChildMapping()" [idMapping]="idMapping()" [parentIdMapping]="parentIdMapping()"
    [allowPaging]="allowPaging()" [allowSorting]="allowSorting()" [allowFiltering]="allowFiltering()"
    [allowSelection]="allowSelection()" [allowResizing]="allowResizing()" [allowReordering]="allowReordering()"
    [allowExcelExport]="allowExcelExport()" [allowPdfExport]="allowPdfExport()"
    [showColumnChooser]="showColumnChooser()" [enableVirtualization]="enableVirtualization()"
    [pageSettings]="pageSettings()" [selectionSettings]="selectionSettings()" [editSettings]="editSettings()"
    [toolbar]="toolbar()" [height]="height()" [width]="width()" (created)="created.emit($event)"
    (dataBound)="dataBound.emit($event)" (rowSelected)="rowSelected.emit($event)"
    (rowDeselected)="rowDeselected.emit($event)" (cellSelected)="cellSelected.emit($event)"
    (cellDeselected)="cellDeselected.emit($event)" (recordClick)="recordClick.emit($event)"
    (recordDoubleClick)="recordDoubleClick.emit($event)" (rowDragStart)="rowDragStart.emit($event)"
    (rowDrop)="rowDrop.emit($event)" (actionBegin)="actionBegin.emit($event)"
    (actionComplete)="actionComplete.emit($event)" (dataStateChange)="dataStateChange.emit($event)">
  </ejs-treegrid>
</div>