<div class="gantt-container" [ngClass]="customClass()" [style.height]="height()" [style.width]="width()">
  <ejs-gantt #gantt [dataSource]="dataSource()" [taskFields]="taskFields()" [columns]="columns()"
    [allowSelection]="allowSelection()" [allowSorting]="allowSorting()" [allowFiltering]="allowFiltering()"
    [allowResizing]="allowResizing()" [allowReordering]="allowReordering()" [editSettings]="computedEditSettings()"
    [toolbar]="enableToolbar() ? toolbar() : []" [allowExcelExport]="allowExcelExport()"
    [allowPdfExport]="allowPdfExport()" [enableCriticalPath]="enableCriticalPath()"
    [timelineSettings]="timelineSettings()" [labelSettings]="labelSettings()" [splitterSettings]="splitterSettings()"
    [projectStartDate]="projectStartDate()" [projectEndDate]="projectEndDate()" [workWeek]="workWeek()"
    [holidays]="holidays()" [eventMarkers]="eventMarkers()" [enableRtl]="enableRtl()" [locale]="locale()"
    [height]="height()" (actionBegin)="actionBegin.emit($event)" (actionComplete)="actionComplete.emit($event)"
    (cellEdit)="cellEdit.emit($event)" (taskbarEdited)="taskbarEdited.emit($event)"
    (rowSelected)="rowSelected.emit($event)" (rowDeselected)="rowDeselected.emit($event)"
    (dataBound)="dataBound.emit($event)" (created)="created.emit($event)">
  </ejs-gantt>
</div>