<div class="pdf-viewer-container" [ngClass]="customClass()">
  <ejs-pdfviewer #pdfviewer [documentPath]="documentPath() || ''" [serviceUrl]="serviceUrl() || ''"
    [enableToolbar]="enableToolbar()" [enableNavigation]="enableNavigation()" [enableThumbnail]="enableThumbnail()"
    [enableBookmark]="enableBookmark()" [enableTextSelection]="enableTextSelection()"
    [enableTextSearch]="enableTextSearch()" [enablePrint]="enablePrint()" [enableDownload]="enableDownload()"
    [enableFormFields]="enableFormFields()" [enableMagnification]="enableMagnification()" [height]="height()"
    [width]="width()" (documentLoad)="documentLoad.emit($event)" (pageChange)="pageChange.emit($event)"
    (zoomChange)="zoomChange.emit($event)" (annotationAdd)="annotationAdd.emit($event)"
    (annotationRemove)="annotationRemove.emit($event)" (annotationSelect)="annotationSelect.emit($event)"
    (hyperlinkClick)="hyperlinkClick.emit($event)" (textSelection)="textSelection.emit($event)"
    (formFieldFocus)="formFieldFocus.emit($event)" (formFieldBlur)="formFieldBlur.emit($event)">
  </ejs-pdfviewer>
</div>