<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs-list">
    <li *ngFor="let item of breadcrumbs(); let i = index" class="breadcrumb-item" [class.active]="isLast(i)">
      <a *ngIf="!isLast(i) && item.route" (click)="navigate(item.route!)"
        class="breadcrumb-link thai-text flex items-center gap-1">
        <app-icon *ngIf="item.icon" [name]="item.icon" size="sm" class="breadcrumb-icon"></app-icon>
        <span>{{ item.label }}</span>
      </a>
      <span *ngIf="isLast(i) || !item.route" class="breadcrumb-current thai-text flex items-center gap-1">
        <app-icon *ngIf="item.icon" [name]="item.icon" size="sm" class="breadcrumb-icon"></app-icon>
        <span>{{ item.label }}</span>
      </span>
      <span *ngIf="!isLast(i)" class="breadcrumb-separator" [attr.aria-hidden]="true">
        {{ separator() }}
      </span>
    </li>
  </ol>
</nav>