<div class="appraisal-history-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Appraisal History</mat-card-title>
      <div class="header-controls">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select [value]="selectedYear" (selectionChange)="selectedYear = $event.value; onFilterChange()">
            <mat-option *ngFor="let year of getYearOptions()" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [value]="selectedStatus" (selectionChange)="selectedStatus = $event.value; onFilterChange()">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{ status.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="loading; else historyContent" class="loading-container">
        <mat-spinner></mat-spinner>
      </div>

      <ng-template #historyContent>
        <div class="history-list" *ngIf="appraisalHistory.length > 0; else noHistory">
          <app-data-table
            [columns]="historyColumns"
            [data]="appraisalHistory"
            [pageSize]="15"
            [showActions]="true"
            (actionClick)="onActionClick($event)">
          </app-data-table>
        </div>

        <ng-template #noHistory>
          <div class="no-data">
            <mat-icon>history</mat-icon>
            <p>No appraisal history found</p>
          </div>
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>

