/* Module Subscription Component Styles */

.active {
  @apply text-primary-500 border-b-2 border-primary-500;
}

button {
  @apply text-gray-600 dark:text-gray-400;

  &:hover {
    @apply text-primary-500;
  }

  &.active {
    @apply text-primary-500 border-b-2 border-primary-500;
  }
}











