<div class="rich-text-editor-container" [ngClass]="customClass()">
  <ejs-richtexteditor #rte [value]="value()" [placeholder]="placeholder()" [height]="height()" [width]="width()"
    [toolbarSettings]="toolbarSettings()" [quickToolbarSettings]="quickToolbarSettings()"
    [tableSettings]="tableSettings()" [pasteCleanupSettings]="pasteCleanupSettings()" [enableRtl]="enableRtl()"
    [enableResize]="enableResize()" [enableTabKey]="enableTabKey()" [enablePersistence]="enablePersistence()"
    [enableAutoUrl]="enableAutoUrl()" [enableHtmlEncode]="enableHtmlEncode()" [showCharCount]="showCharCount()"
    [maxLength]="maxLength()" [readonly]="readonly()" (created)="created.emit($event)" (change)="onChange($event)"
    (actionBegin)="actionBegin.emit($event)" (actionComplete)="actionComplete.emit($event)" (focus)="focus.emit($event)"
    (blur)="blur.emit($event)" (toolbarClick)="toolbarClick.emit($event)" (imageUploading)="imageUploading.emit($event)"
    (imageUploadSuccess)="imageUploadSuccess.emit($event)" (imageUploadFailed)="imageUploadFailed.emit($event)"
    (imageRemoving)="imageRemoving.emit($event)" (fileUploading)="fileUploading.emit($event)"
    (fileUploadSuccess)="fileUploadSuccess.emit($event)" (fileUploadFailed)="fileUploadFailed.emit($event)"
    (beforeDialogOpen)="beforeDialogOpen.emit($event)" (dialogOpen)="dialogOpen.emit($event)"
    (dialogClose)="dialogClose.emit($event)" (beforeImageUpload)="beforeImageUpload.emit($event)"
    (beforeFileUpload)="beforeFileUpload.emit($event)" (beforePaste)="beforePaste.emit($event)"
    (beforeDrop)="beforeDrop.emit($event)" (beforeSanitizeHtml)="beforeSanitizeHtml.emit($event)">
  </ejs-richtexteditor>
</div>