<div class="rich-text-editor-container w-full glass-weak dark:glass-dark-weak theme-myhr:glass-myhr-weak rounded-xl p-4 overflow-hidden" [ngClass]="customClass">
  <ejs-richtexteditor
    #rte
    [value]="value"
    [placeholder]="placeholder"
    [height]="height"
    [width]="width"
    [toolbarSettings]="toolbarSettings"
    [quickToolbarSettings]="quickToolbarSettings"
    [tableSettings]="tableSettings"
    [pasteCleanupSettings]="pasteCleanupSettings"
    [enableRtl]="enableRtl"
    [enableResize]="enableResize"
    [enableTabKey]="enableTabKey"
    [enablePersistence]="enablePersistence"
    [enableAutoUrl]="enableAutoUrl"
    [enableHtmlEncode]="enableHtmlEncode"
    [showCharCount]="showCharCount"
    [maxLength]="maxLength"
    [readonly]="readonly"
    (created)="onCreated($event)"
    (change)="onChange($event)"
    (actionBegin)="onActionBegin($event)"
    (actionComplete)="onActionComplete($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (toolbarClick)="onToolbarClick($event)"
    (imageUploading)="onImageUploading($event)"
    (imageUploadSuccess)="onImageUploadSuccess($event)"
    (imageUploadFailed)="onImageUploadFailed($event)"
    (imageRemoving)="onImageRemoving($event)"
    (fileUploading)="onFileUploading($event)"
    (fileUploadSuccess)="onFileUploadSuccess($event)"
    (fileUploadFailed)="onFileUploadFailed($event)"
    (beforeDialogOpen)="onBeforeDialogOpen($event)"
    (dialogOpen)="onDialogOpen($event)"
    (dialogClose)="onDialogClose($event)"
    (beforeImageUpload)="onBeforeImageUpload($event)"
    (beforeFileUpload)="onBeforeFileUpload($event)"
    (beforePaste)="onBeforePaste($event)"
    (beforeDrop)="onBeforeDrop($event)"
    (beforeSanitizeHtml)="onBeforeSanitizeHtml($event)">
  </ejs-richtexteditor>
</div>

